@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-track-color: black;
  cursor: url('../assets/circleCursor.png'), auto;
}

@layer base { 
  .footerLinks {
    @apply font-semibold text-sm text-gray-700 sm:text-gray-400 hover:text-gray-300 active:text-green-600 transition-all duration-500;
  }

  .tooltipText {
    @apply opacity-0 invisible cursor-help bg-gray-950 text-center px-5 py-0 absolute z-10 rounded-md;
  }

  .highlightLink {
    @apply text-gray-400 hover:text-gray-200 transition-all duration-500
  }
}

*::-webkit-scrollbar {
  width: 0px;
}